.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .home-title {
    margin: 40px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      font-size: 20px;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
    h1 {
      font-size: 50px;
      font-family: "Roboto", sans-serif;
      font-weight: 800;
      text-transform: uppercase;
    }
  }
  .home-quote {
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    h2 {
      font-size: 40px;
      font-family: "Vollkorn", serif;
      margin: 10px 0px;
    }
    h3 {
      font-size: 25px;
      opacity: 0.5;
      font-family: "Vollkorn", serif;
    }
  }
  .home-search {
    display: flex;
    padding: 40px;
    justify-content: center;
    width: 100%;
  }

  .home-link {
    margin-top: 50px;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    justify-items: flex-end;
    justify-content: center;
    align-items: center;
    a {
      color: $lilac;
      &:not(:last-child) {
        margin-right: 50px;
      }
    }
  }
  .gotoTrend {
    margin-top: 50px;
    display: flex;
    width: 120%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    h2 {
      color: #fb8500;
      font-size: 25px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    .gotoTrend-repos {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      a {
        font-size: 18px;
        margin: 10px 0px;
      }
      .repoName {
        font-weight: 600;
      }
      .repoStar {
        font-weight: 600;
        color: $star;
      }
    }
  }
}
