extends layouts/main

block content
    .home
        .home-title 
            h2 Develop your value 
            h1 -Developer Profile-
            h2=quote 
            h3=author
        
        if !loggedUser
            .home-link
                a(href="/join") Join
                |#{' '}
                a(href="/login") Login
        else 
            a(href=`/users/${loggedUser._id}`) My profile