extends layouts/main

block content
    .home
        .home-title 
            h2 Develop your value 
            h1 Developer Profile
        .home-quote
            h2=quote 
            h3=author
        .home-search 
            form.home-search__form
                input(type="text" id="jsInput" placeholder="Google 검색")
        .home-link
            if !loggedUser
                a(href="/join") Join
                a(href="/login") Login
            else 
                a(href=`/users/${loggedUser._id}`) My profile
            
        .gotoTrend#jsGotoTrend
            h2 Today's Trending Repositories
            .gotoTrend-repos#jsGotoTrendRepos
                span#jsIndicator Waiting....
block scripts 
    script(src="/static/js/getTrend.js")
    script(src="/static/js/search.js") 
