extends layouts/main

block content
    i.fas.fa-location-arrow
    h3 Start with GitHub!
    button.login-github
        a(href="#")
            span
                i.fab.fa-github 
            |Join with GitHub 

    