extends layouts/main

block content
    i.fas.fa-location-arrow
    h3 Login with GitHub!
    a(href="/auth/github")
        .login-github
            i.fab.fa-github 
            span Login with GitHub 

    