extends layouts/main

block content
    h1 User Detail
    .user-quote
        h2=quote 
        h3=author
    hr
    .user-profile 
        .user-profile__column 
            img(src="#")
            .user-profile__link 
                a(href="#") Github
                a(href="#") Blog
        .user-profile__column
            .user-profile__info
                h3 NAME 
                h3 GITHUB NICKNAME 
                h3 EMAIL 
                h3 SCHOOL
                h3 TECH 
                h3 CAREER 
                h3 SELF-INTRODUCTION
    hr
    .user-status
        .user-status__contributions
            img(src="http://ghchart.rshah.org/lsj8706" alt="Name Your Github chart")
        .user-status__character
            h3 Your step | commit numbers 
            img(src="https://preview.free3d.com/img/2019/12/2269306250288170045/1oe8ymrc-900.jpg" alt="character" style="height:200px; width:250px;")
    .user-repositories
        .user-repo
            h3 REPO 1