header.header 
    .header__wrapper 
        .header__column 
            ul 
                li 
                    a(href="/join") Join 
                li 
                    a(href="/login") Log In