header.header 
    .header__wrapper 
        .header__column 
            ul
                li 
                    a(href="/") Home 
                if !loggedUser
                    li 
                        a(href="/join") Join 
                    li 
                        a(href="/login") Log In

                else
                    li 
                        a(href=`/users/${loggedUser._id}`) My Profile 
                    li 
                        a(href="/users/edit-profile") Edit Profile
                    li 
                        a(href="/logout") Log Out